body {
    font-size: 15pt;
    background-color: #f1c40f;
    text-align: center;
}

.indexh1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

.odyseewut {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

.odyseewutp {
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
}

.odyseewhy {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}

.inspmono {
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
}

p a {
  color: #2EBCCE;
  text-decoration: none;
}

#odyseelink {
  margin-left: 45px;
}